---
import Hr from "./Hr.astro";
import IconMoon from "@/assets/icons/IconMoon.svg";
import IconSunHigh from "@/assets/icons/IconSunHigh.svg";
import { SITE } from "@/config";
---

<header>
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
  >
    Skip to content
  </a>
  <div
    id="nav-container"
    class="mx-auto flex max-w-app flex-col items-center justify-between sm:flex-row"
  >
    <div
      id="top-nav-wrap"
      class="relative flex w-full items-baseline justify-between bg-background p-4 sm:items-center sm:py-6"
    >
      <a
        href="/"
        class="absolute py-1 text-xl leading-8 font-semibold whitespace-nowrap sm:static sm:my-auto sm:text-2xl sm:leading-none"
      >
        {SITE.title}
      </a>
      <nav id="nav-menu" class="flex w-full items-center justify-end sm:py-0">
        {
          SITE.lightAndDarkMode && (
            <button
              id="theme-btn"
              class="focus-outline relative size-12 p-4 sm:size-8 hover:[&>svg]:stroke-accent"
              title="Toggles light & dark"
              aria-label="auto"
              aria-live="polite"
            >
              <IconMoon class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90" />
              <IconSunHigh class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0" />
            </button>
          )
        }
      </nav>
    </div>
  </div>
  <Hr />
</header>

<script>
  // no nav menu to toggle
</script>
